@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between; /* Espaço entre elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: greenyellow;
}

header p {
    margin: 0; /* Remover margem para evitar espaço extra */
    font-weight: bold;
    color: purple;
}

form#sair {
    margin: 0; /* Remover margem para garantir alinhamento */
    padding-right: 20px;
}
form#sair > button {
    width: 100px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(217, 9, 9);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form#sair > button:hover {
    text-decoration: underline;
    background-color: brown;
    width: 95px;
    height: 47.5px;
}

/* header {
    height: 50px;
    width: 100%;
    background-color: greenyellow;
}
header > p {
    padding: 15px;
    color: purple;
    font-weight: bold;
    display: inline-block;
}
form#sair {
    display: inline-flex;
    position: relative;
    text-align: end;
    right: 0;
    top: 0;
} */

h1 {
    padding: 20px;
    font-size: 2em;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10px;
}

div#main {
    padding: 20px;
    border: 1px solid rgb(4, 255, 0);
    max-width: 540px;
    width: 80%;
    margin: 10px;
    margin: auto;
}
div#tab {
    overflow-x: auto;
}
div#tab > table {
    padding: 10px;
    font-size: 1.2em;
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
}
#numeroAleatorio {
    color: rgb(16, 52, 0);
}
th {
    border: 1px solid white;
    max-width: 140px;
}
td {
    border: 1px solid rgb(255, 255, 255);
    padding-left: 3px;
    padding: 5px;
    background: rgb(176, 176, 176);
    color: rgb(0, 0, 0);
    font-weight: bold;
    box-shadow: inset 0px 1px 4px rgb(187, 187, 187);
}
div#btn {
    justify-content: center;
    display: flex;
    width: 100%;
}
div#btn > button {
    width: 200px;
    padding: 5px;
    background-color: rgb(204, 202, 200);
    font-weight: bold;
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(4, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}
div#btn > button#limparButton {
    background-color: rgb(255, 0, 0);
}
div#btn > button#pausarButton {
    background-color: lightgray;
}
div#btn > button#resetarButton {
    background-color: lightgray;
}
div#btn > button#limparButton:hover {
    background-color: rgb(189, 0, 0);
}
div#btn > button:hover {
    background-color: rgb(0, 189, 0);
}

p#ext {
    text-align: center;
    margin: 15px;
}
p#ext > a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    background-color: green;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}
p#ext > a:hover {
    background-color: darkgreen;
    text-decoration: underline;
}